*{
  
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.html, .body{
  margin: 0;
  height: 100%; 
}

.header{
  width:100%;
  height:100px;
  background-color: #7e3c0a;
  text-align: center;
  border-bottom: 4px solid #571501;
}

.header h1, .header h2{
  color: #fad681;
  font-weight: 800;
  text-shadow: 4px 2px 15px #000000;
}

.center{
  padding: 10px;
  background-color: #fcead2;
}

.categorias{
  position: relative;
  z-index:1;
  box-shadow: 9px 1px 20px #000000;
  margin-top: auto;
  border-radius: 10px;
  width:100%;
  height:100%;
  background-color: #7e3c0a;
  padding-left: 20px;
  padding:11px;
  color: #fad681;
  box-shadow: 0px, 10px, 25px, #000000;
}

.categorias nav{
  margin-top: 15px;
  display: flex;
  gap: 12px;
  display:flex;
  flex-wrap: wrap;
}

.categorias nav a{
  background-color: #fad681;
  color: #541900;
  border-radius: 15px;
  padding: 5px;
  font-weight: 700;
  box-shadow: 5px 1px 15px #000000;
}

.categorias .todos{
  background-color: #521501;
  color:#fad681;
}

.categorias nav a:hover{
  background-color: #521501;
  color:#fad681;
  cursor:pointer;
}

.categorias nav a:active{
  box-shadow: none;
}

.container{
  background-color:#fcead2;
  margin-top: auto;
  display:flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 2%;
}

.container-single{
  width: 23%;
  padding:13px;
  border: 3px solid #000000;
  border-style: groove;
  height:auto;
  margin-top:15px;
  font-size: 100%;
  background-color: #b27121;
  border-radius: 15px;
  color:#fad681;
  word-wrap: break-word;
  box-shadow: 4px 2px 15px #000000;
  transition: 0.1s;
}



.container-single:active{
  box-shadow: none;
  transform: translateY(5px);
}

.container-single hr{
  border: none;
  outline: none;
  height: 1px;
  background-color: #541900;
  margin: 10px 0;
  box-shadow: 4px 2px 9px #000000;
}
.container-single h3{
  margin-top: 10px;
  background-color:#fad681;
  color: #541900;
  border-radius: 15px;
  padding: 0 5px;
  width:max-content;
}

.container-single p{
  font-size: 20px;
}

.botao{
  background-color: #541900;
  text-decoration: none;
  color: #fad681;
  border-radius: 13px;
  padding: 0 5px;
  width:max-content;
  font-weight: 700;
  text-align: center;
}

.footer{
  background-color: #380f01;
  color: #fad681;
  text-align: center;
  padding: 15px 0;
  font-size: 11px;
}

@media (max-width:1200px) {
  .container-single p{
  font-size: 16px;
}
}

@media (max-width:1000px) {
  .container-single{
  width: 32%;
}
}

@media (max-width:500px) {
  .container-single{
  width: 48%;
  height: auto;
}
}

@media (max-width:500px) {
  .header{
    height: auto;
  }
}